{% extends 'base.html' %}
{% block title %} Task Management System {%endblock %}
{% load crispy_forms_tags %}

{% block content %}
<h1 class="d-flex justify-content-center " style="color: rgb(14, 226, 14);">Task Showing Page</h1>
<div class=" h-50 d-flex flex-wrap justify-content-center px-5 pt-5 mb-4">
    {% for i in data %}
    <div class="col-sm-4 mt-1">
        <div class="card mx-2">
          <div class="card-body">
            <h4>ID: {{i.id}}</h4>
            <h5 class="card-title">{{i.task_title}}</h5>
            <p class="card-text">{{i.task_description}}</p>
            <p>Category:
                {% for j in i.task_category.all%}
                <button class="btn btn-success">{{j.category_name}}</button>
                {% endfor %}
            </p>
            {% if i.is_complete == True %}
                <button class="btn btn-success mx-1 mt-1"><h4>completed</h4></button>
            {%else%}
                <a href="{% url 'edit_task' i.id %}"class="btn btn-primary m-2">Edit</a>
                <a href="{% url 'delete_task' i.id %}"class="btn btn-warning">Delete</a>
            {% endif %}
          </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}